
.axis {
  font: 15px sans-serif;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
}

rect:hover {
    fill: #25A38E;
    stroke: white;

}
.centrado{
  margin: auto;
	text-align: center;
	align-items: center;
}
.wrapper {
  display: flex;
  align-items: stretch;
  height: 93.5%;		
}
.legend {
  padding: 15px;
  font-size: 15px ;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  border-style: groove;
}