<nav id="sidebar" v-bind:class = "{active: isActive}" >
    <ul class="list-unstyled components">
        <li class="">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="  glyphicon glyphicon-signal"></i>
                Estadisticas
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><a href="#">Home 1</a></li>
            </ul>
            
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapa Calor
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li><a href="#">Page 1</a></li>
            </ul>

            <a href="#graphSubmenu" data-toggle="collapse" aria-expanded="false">
              <i class="glyphicon"></i>
                Grafos
            </a>
            <ul class="collapse list-unstyled" id="graphSubmenu">
              <li><a href="#">Page 1</a></li>
            </ul>
        </li>
    </ul>
    <div v-on:click="collapse" class="text-center flechas">
      <a>
        <i class="glyphicon glyphicon-resize-horizontal"></i>
      </a>
    </div>
    
</nav>
