<nav id="sidebar" v-bind:class = "{active: isActive}" >
    <ul class="list-unstyled components">
        <li class="">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="  glyphicon glyphicon-signal"></i>
                Segun artistas
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li><a href="#">Los mas comentados</a></li>
              <li><a href="#/gbestart">Los mas queridos</a></li>
              <li><a href="#/gworstart">Los menos queridos</a></li>
            </ul>
            <a href="#genSubmenu" data-toggle="collapse" aria-expanded="false">
                <i class="  glyphicon glyphicon-signal"></i>
                Segun géneros
            </a>
            <ul class="collapse list-unstyled" id="genSubmenu">
              <li><a href="#/gmejoresgen">Los mas queridos</a></li>
              <li><a href="#/gpeoresgen">Los menos queridos</a></li>
              <li><a href="#">Aumentando en popularidad</a></li>
            </ul>
            
            <a href="#mapSubmenu" data-toggle="collapse" aria-expanded="false">
              <i class="glyphicon glyphicon-map-marker"></i>
                Mapa Calor
            </a>
            <ul class="collapse list-unstyled" id="mapSubmenu">
              <li><a href="#">Page 1</a></li>
            </ul>

            <a href="#graphSubmenu" data-toggle="collapse" aria-expanded="false">
              <i class="glyphicon"></i>
                Grafos
            </a>
            <ul class="collapse list-unstyled" id="graphSubmenu">
              <li><a href="#">Page 1</a></li>
            </ul>
        </li>
    </ul>
    <div v-on:click="collapse" class="text-center flechas">
      <a>
        <i class="glyphicon glyphicon-resize-horizontal"></i>
      </a>
    </div>
    
</nav>
