.bar1{
    fill:#54C08B;
    stroke: #A6EA66;
}
.bar2{
	fill: #558FB4 ;
	stroke: #A6EA66;

}
.axis {
  font: 15px sans-serif;
}

.axis path,.axis line {
  fill: none;
  stroke: #000;
}

rect:hover {
    fill: #A6EA66;
}