<div>
  <div class="center">
    <img  src="../../img/logoname.png" />
  </div>

  <!--<div class="row">
    <div class="col col-sm-6">
      <img src="../../img/optionA.jpg.png">
    </div>
    <div class="col col-sm-6">
      <img  src="../../img/optionB.png">
    </div>	
  </div>-->
  <div style="text-align: center;">
  <a href = "#/graph"><img class ="option" style="margin-left:100px;margin-right:50px;" src="../../img/optionA.jpg.png"></a>

  <img class ="option" style="margin-right:100px;margin-left:50px;" src="../../img/optionB.png">
  </div>
</div>
